.card {
  background: $white;
  padding: 20px;
  margin: 15px 0;

  .label {
    text-transform: uppercase;
    font-size: 80%;
    color: $site_primary;
    padding: 0;
  }
}

.labeled-text {


  p:not(.label) {
    font-size: 120%;
  }
}

