//fonts
$strong_type: 'Graviola', Helvetica, sans-serif;
$body_type: 'Ubuntu', sans-serif;

//colours
$site_primary: #294066;
$site_secondary: #33BBA6;
$site_neon: #5AD8C4;
$site_muted: #F2FCFA;
$white: #ffffff;